@font-face {
  font-family: "Circular Std";
  src: url('../assets/fonts/Circular/book.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url('../assets/fonts/Circular/bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: "Circular Std";
  src: url('../assets/fonts/Circular/medium.otf') format('opentype');
  font-weight: 500;
}
